[project]
authors = ["MoSafi2 <mohamed.mabrouk@rwth-aachen.de>"]
channels = [
    "https://conda.modular.com/max-nightly",
    "https://repo.prefix.dev/modular-community",
    "conda-forge",
    "bioconda"
]
preview = ["pixi-build"]
description = "Add a short description here"
name = "BlazeSeq"
platforms = ["linux-64"]
version = "0.1.0"

[tasks]

[dependencies]
matplotlib = ">=3.10.6,<4"
numpy = ">=2.3.3,<3"
seaborn = ">=0.13.2,<0.14"
ipykernel = ">=6.30.1,<7"
falco = ">=1.2.5,<2"
fastp = ">=1.0.1,<2"
mojo = "=0.25.6.1"
python = ">=3.14.0,<3.15"
extramojo = { git = "https://github.com/ExtraMojo/ExtraMojo.git" }
